:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom text highlighting */
::selection {
  background-color: rgba(var(--c-accent3-rgb), 0.8);
  color: var(--c-white);
}

/* Generic element styling */
html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  cursor: initial;
}

html {
  height: 100%;
}

body {
  background-color: var(--c-dGrey);
  color: var(--c-white);
}

a,
button {
  cursor: pointer;
}
