.ctaList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--grid-offset-size);
  list-style: none;
  margin: 0 0 var(--spacing-default);
  padding: var(--spacing-default) 0 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: var(--grid-gutter-size);
  }
}

.ctaItem {
  height: 33.33vh;
  min-height: 220px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 33.33%;
    height: auto;
    min-height: none;
  }
}

.ctaItemContentBlock {
  width: 100%;
  height: 100%;
}

.ctaItemLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &[aria-disabled="true"] {
    .ctaItemImage {
      filter: grayscale(0.25) brightness(0.75) opacity(0.25);
    }
  }

  &:hover,
  &:focus-within {
    .ctaItemImage {
      filter: grayscale(1) brightness(0.5) opacity(0.25);
    }
  }
}

.ctaItemImage {
  border-radius: var(--border-radius-medium);
  transition: filter var(--anim-ease-cubic) var(--anim-duration-medium);

  img {
    object-fit: cover;

    @media screen and (min-width: 768px) {
      height: 75vh;
      max-height: 950px;
    }
  }
}

.ctaItemContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c-white);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: var(--heading-s-font-size);
  text-shadow: var(--t-blur-shadow);
}

.ctaItemLabel {
  @media screen and (min-width: 768px) {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

.ctaItemNotice {
  width: 100%;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
  background-color: var(--c-black);
  font-size: var(--copy-m-font-size);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 5%;
  }
}
