.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  position: relative;
  transition:
    opacity var(--anim-ease-cubic) var(--anim-duration-medium),
    visibility var(--anim-ease-cubic) var(--anim-duration-medium);
}

.placeholder__isHidden {
  opacity: 0;
  visibility: hidden;
}
