.wrapper {
  margin-top: auto;
  margin-bottom: var(--spacing-default);
}

.contentWrapper {
  padding: 0 var(--spacing-large);
}

.content {
  padding: var(--spacing-small) 0;
  border-top: 1px solid var(--c-lGrey);
  font-size: var(--copy-s-font-size);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
