:root {
  /* Border */
  --border-radius-default: 10px;
  --border-radius-small: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  /* Spacing */
  --spacing-default: 20px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
}
