.wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility var(--anim-ease-cubic) var(--anim-duration-slow),
    opacity var(--anim-ease-cubic) var(--anim-duration-slow);
}

.wrapper__isLoaded {
  visibility: visible;
  opacity: 1;
}
