.wrapper {
  composes: button from "@styles/buttons.css";
  width: 100%;
  background-color: var(--c-accent1);
  color: var(--c-white);

  &:hover,
  &:focus-within {
    background-color: var(--c-accent2);
  }
}
